apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: aws-s3-bucket-${{values.bucket_name}}
  namespace: ${{values.namespace}}
spec:
  components:
    - name: ${{values.bucket_name}}
      type: s3-bucket-ack
      properties:
        name: ${{values.bucket_name}}
        region: ${{values.region}}